@{
    ViewData["Title"] = "Listify.Me";
}

<div class="text-center">
    <h1 class="display-4">Listify.Me, Welcomes You....</h1>    
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
    <div class="alert alert-primary">
        Wanted a list of steps to do something, needed that structure to help you repeat tasks - well you are in the right place, listify.me is
        just that.  Aimed at providing software steps for devs to document and practice it can also store any type of repeatable list.
    </div>
</div>
<div class="col-md-2">
</div>
</div>
